<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boot.mappers.FreeBoardMapper">

    <select id="getAllFreeBoards" resultType="com.example.boot.Entity.FreeBoard">
        select * from fBoard;
    </select>

    <select id="getFreeBoardPages" resultType="com.example.boot.Entity.FreeBoard">
        select * from fBoard where fbDel = 'n' order by fbNum DESC limit #{pageSize} offset #{offset}
    </select>

    <select id="getFreeBoardTotalPages" resultType="int">
        select count(*) from fBoard where fbDel = 'n';
    </select>

    <select id="SaveFreeBoards" parameterType="com.example.boot.Entity.FreeBoard" >
        insert into fBoard (fbTitle, fbContent, userid, photo)
        values (#{fbTitle}, #{fbContent}, #{userid}, #{photo})
    </select>

    <select id="getIdByFreeBoards" resultType="com.example.boot.Entity.FreeBoard">
        select * from fBoard where fbNum = #{fbNum};
    </select>

    <update id="FBReadCountUp" parameterType="Long">
        update fBoard set fbReadCount = fbReadCount+1 where fbNum = #{fbNum};
    </update>

    <update id="UpdatefreeBoardSave" parameterType="com.example.boot.Entity.FreeBoard">
        update fBoard
        set fbTitle = #{fbTitle},
        fbContent = #{fbContent},
        photo = #{photo},
        fbDate = #{fbDate}
        where fbNum = #{fbNum};
    </update>

    <update id="DeletefreeBoardSave" parameterType="Long">
        update fBoard set fbDel = 'Y' where fbNum = #{fbNum};
    </update>

    <select id="BoardSearch" resultType="com.example.boot.Entity.FreeBoard">
        select * from fBoard where fbtitle LIKE '%' #{fbtitle} '%' order by fbNum desc limit #{pageSize} offset #{offset}
    </select>

    <select id="SearchTotalPage" resultType="int">
        select count(*) from fBoard where fbtitle LIKE '%' #{fbtitle} '%'
    </select>

    <select id="getMemberBoardEA" resultType="Long">
        select count(*) from fBoard where userid = #{userid};
    </select>
</mapper>