<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boot.mappers.FreeBoardMapper">

    <select id="getAllFreeBoards" resultType="com.example.boot.Entity.FreeBoard">
        select * from fBoard;
    </select>

    <select id="getFreeBoardPages" resultType="com.example.boot.Entity.FreeBoard">
        select * from fBoard order by fbNum DESC limit #{pageSize} offset #{offset}
    </select>

    <select id="getFreeBoardTotalPages" resultType="int">
        select count(*) from fBoard where fbDel = 'n';
    </select>

    <insert id="SaveFreeBoards" parameterType="java.util.Map">
        insert into fBoard (fbTitle, fbContent, userid, photo)
        values (#{fbTitle}, #{fbContent}, #{userid}, #{photo})
    </insert>


</mapper>